<ossec_config>
{{ wazuh_ossec_global_configs | indent(2, true) }}

{{ wazuh_ossec_alerts_configs | indent(2, true) }}

  <!-- Choose between "plain", "json", or "plain,json" for the format of internal logs -->
{{ wazuh_ossec_logging_configs | indent(2, true) }}

{{ wazuh_ossec_remote_configs | indent(2, true) }}

  <!-- Policy monitoring -->
{{ wazuh_ossec_rootcheck_configs | indent(2, true) }}

{{ wazuh_ossec_wodle_configs | indent(2, true) }}

{{ wazuh_ossec_sca_configs | indent(2, true) }}

{{ wazuh_ossec_vulnerability_detection_configs | indent(2, true) }}

{{ wazuh_ossec_indexer_configs | indent(2, true) }}

  <!-- File integrity monitoring -->
{{ wazuh_ossec_syscheck_configs | indent(2, true) }}


  <!-- Active response -->
{{ wazuh_ossec_active_response_configs | indent(2, true) }}

  <!-- Log analysis -->
{{ wazuh_ossec_log_analysis_configs | indent(2, true) }}

{{ wazuh_ossec_ruleset_configs | indent(2, true) }}

  <!-- Configuration for wazuh-authd -->
{{ wazuh_ossec_authd_configs | indent(2, true) }}

{{ wazuh_ossec_cluster_configs | indent(2, true) }}

{% if wazuh_telegram_integration is defined %}
  <!--Telegram-->
{{ wazuh_ossec_telegram_integration_configs | indent(2, true) }}
{% endif %}

{{ wazih_ossec_extra_configs | indent(2, true) }}

</ossec_config>

<ossec_config>
  <localfile>
    <log_format>syslog</log_format>
    <location>/var/ossec/logs/active-responses.log</location>
  </localfile>

</ossec_config>
